In [1]:
import requests                    
from bs4 import BeautifulSoup      
import pandas as pd                
import numpy as np

In [2]:
base_url = "https://www.mohfw.gov.in/"

In [3]:
srNo = []
state = []
confirmed = []
cured = []
death = []

In [4]:
response = requests.get(base_url)

In [6]:
soup = BeautifulSoup(response.text, "html.parser")
table = soup.find_all("table")[0]
trs = table.find_all("tr")    # extracting all the rows of the table

In [7]:
for tr in trs:
    tds = tr.find_all("td")
    try:
        srNo.append(int(tds[0].text.strip()))            
        state.append(tds[1].text.strip())                
        confirmed.append(int(tds[2].text.strip()))       
        cured.append(int(tds[3].text.strip()))          
        death.append(int(tds[4].text.strip()))           
    except :
        print("Blank td")

Blank td
Blank td
Blank td
Blank td
Blank td

In [8]:
zipped = zip(srNo,state,confirmed,cured,death)

In [9]:
# creating a data frame.
df = pd.DataFrame(list(zipped), columns=["Sr No",
                                         "State",
                                         "Confirmed Cases",
                                         "Cured",
                                         "Deaths"])
df.head(10)

   Sr No                        State  Confirmed Cases  Cured  Deaths
0      1  Andaman and Nicobar Islands               33     16       0
1      2               Andhra Pradesh             1525    441      33
2      3            Arunachal Pradesh                1      1       0
3      4                        Assam               43     32       1
4      5                        Bihar              471     98       3
5      6                   Chandigarh               88     17       0
6      7                 Chhattisgarh               43     36       0
7      8                        Delhi             3738   1167      61
8      9                          Goa                7      7       0
9     10                      Gujarat             4721    735     236

In [11]:
print(df.info()) # there's no need to clean the data as it's already in the form of required data type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sr No            32 non-null     int64
 1   State            32 non-null     object
 2   Confirmed Cases  32 non-null     int64
 3   Cured            32 non-null     int64
 4   Deaths           32 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.4+ KB
None